/* .topWrapper {
  width: 150px;
  margin: 0 auto;
} */


.thumbnail {
  object-fit: cover;
  border-radius: 50%;
}

.thumbprofile {
  width: 150px;
  height: 150px;
}

.searchthumbnail {
  width: 80px;
  height: 80px;
}



.editThumbnail {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.buttonSet {
  margin: 30px 0 0 0;
  text-align: center;
}

.labelTitle {
  color: #006DD9;
  margin: 20px 0 5px 0;
}

input[class="userForm"] {
  width: 100%;
  padding: 5px 0 5px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  transition: 1s;
}
input[class="userForm"]:focus {
  background: #87ceeb;
}

/* .btn-done {
  background: #dc143c;
  border: 1px solid #dc143c;
}  */

.btn-done:hover {
  background: #cc1237;
  border: 1px solid #cc1237;
}

.error {
  font-size: 15px;
  font-weight: 100;
  color: #cc1237;
}

.showpostuser {
  width:50px;
  height:50px;
  position:absolute;
  top:5px;
  left:10px;
  border-radius:50%
}